.font {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: x-large;
}

.font_title {
  font-family: 'Bai Jamjuree', sans-serif;
}



.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  border-radius: 100px;
  width: 500px;
}
.image:hover {
  cursor: pointer;
}


.form_ctn {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro_ctn {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: flex-start;
  background-color: #C4D7E0;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  background-color: #F8F9D7;
  border-radius: 1rem;
  padding: 10px;
}

.ctn_content {
  display: flex;
}

.img_content {
  width: 500px;
}
